.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: darkblue;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
