.score {
  width: 125px;
  padding: 0.25rem 0.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-background);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  cursor: default;
  transition: transform 200ms ease;
}

.score.scale-up {
  transform: scale(1.15);
}

.score-heading {
  font-weight: 900;
}

.score-value {
  font-weight: 600;
}
