.button-icon {
  position: relative;
  z-index: 20;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  display: block;
  border: none;
  background-color: transparent;
  transition: transform 300ms ease;
  transform: scale(1);
}

.button-icon:hover {
  transform: scale(1.2);
}

.button-icon:active {
  transform: scale(0.9);
}

.button-icon > svg {
  width: 56px;
  height: auto;
  fill: var(--clr-primary);
}
