.error-landing {
  background-color: var(--clr-background);
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-img {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
}

.error-img > img {
  width: 500px;
}

.error-msg {
  color: var(--clr-error);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.error-landing > .button-icon {
  display: inline-block;
  width: 64px;
}

.error-landing > .button-icon > svg {
  fill: var(--clr-error);
}
