.error-landing {
  background-color: var(--clr-background-transparent);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.error-img > svg {
  fill: var(--clr-error);
}

.error-msg {
  color: var(--clr-error);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.error-landing > .button-icon-text {
  background-color: var(--clr-error);
}

.error-landing > .button-icon-text:hover {
  background-color: var(--clr-primary);
}

.error-landing > .button-icon-text:hover > svg {
  animation: rotate-center 750ms linear infinite both;
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
